@font-face {
   font-family: 'Helvetica';
   font-display: swap;
   src: url('file:///C:/Users/schabert/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-04-23_150506/fonts/Helvetica/font.ttf');
}
